.datePickerIsOpened {
  display: block;
}
.datePickerIsClosed {
  display: none;
}

/* .calendarDisplay { */
/* position: absolute;
  left: 0;
  top: 40px; */
/* width: 200px;
  min-height: 235px;
  background: #fff;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 15px 15px;
} */

/* .mdpc-head {
  display: flex;
  float: left;
  width: 100%; */
/* height: 53px; */
/* cursor: pointer;
} */

/* .mdpc-body {
  float: left;
  width: 100%; */
/* margin-top: 3px; */
/* } */

/* .cc-month,
.cc-head,
.cch-name,
.cc-body,
.cdc-day span,
.cdc-day,
.c-day-container,
.c-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */

/* .c-container {
  width: 100%;
  height: 100%;
} */

/* .cc-head {
  height: 30px;
  width: 100%;
  /* margin-top: 10px; */

/* .cch-name {
  width: 14.285%;
  height: 30px;
  line-height: 30px;
  font-weight: 700;
  color: #666;
  font-size: 9px;
  text-align: center;
} */

/* .cc-body {
  height: 100%;
  width: 100%;
} */

/* .cdc-day {
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 300;
  color: #444;
  text-align: center;
  margin: 1px;
} */

/* .cdc-day span:hover {
  cursor: pointer;
  background: #eee;
} */

/* .cdc-day span {
  width: 25px;
  height: 25px;
   margin-top: -15px;
  margin-left: -15px; 
  left: 50%;
  top: 50%; 
  font-weight: 400;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #444;
  font-size: 0.7rem;
} */

/* .c-day-container.disabled {
  pointer-events: none;
}

.c-day-container.disabled .cdc-day span {
  color: #ddd;
}
.c-day-container.disabled .cdc-day span {
  background: #fff !important;
}
.c-day-container.highlight .cdc-day span {
  background: #efdbca;
}
.c-day-container.highlight-green .cdc-day span {
  background: #d4e2cb;
} */
/* .year_month-container,
.ym-content,
.ym-button,
.days {
  display: flex;
}

.ym-button,
.days {
  justify-content: center;
} */

/* .year_month-container {
  flex-direction: column;
  align-items: center;
} */
/* .ym-content {
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: overline;
  justify-content: space-evenly;
  width: 100%;
} */
/* .ym-button {
  float: left;
  width: 45px;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
} */
/* .ym-display {
  display: block;
} */
/* .ym-arrow {
  display: block;
  padding: 0 5px;
} */
/* .resize-year {
  font-size: 1.2rem;
  text-decoration: none;
} */

/* .days {
  width: 25px;
  height: 25px;
  font-weight: 400;
  border-radius: 100%;
  align-items: center;
  font-size: 0.72rem;
  transition: 300ms ease-in-out;
} */

/*STYLE*/

/* .days.disabled {
  background: #fff !important;
  color: #ddd;
  pointer-events: none;
} */

/* .days.blue-background:hover,
.days.red-background:hover,
.days.green-background:hover,
.days.purple-background:hover,
.days.yellow-background:hover,
.days.neutral-background:hover {
  transform: scale(1.2);
  box-shadow: 0px 3px 5px rgba(24, 20, 58, 0.452);
  z-index: 1;
  font-weight: bold;
} */

/*blue style .days.blue-background {
  background: #b1bbda80;
}
.days.blue-background:hover {
  background: #2b489b;
  color: white;
}
.blue-color {
  color: #2b489b;
}

/**red style*/
/* .days.red-background {
  background: #dab1b180;
}
.days.red-background:hover {
  background: #9b2b2b;
  color: white;
}
.red-color {
  color: #9b2b2b;
} */
/**green style*/
/* .days.green-background {
  background: #b1dab780;
}
.days.green-background:hover {
  background: #164e22;
  color: white;
}

.green-color {
  color: #164e22;
} */

/**purple style*/
/* .days.purple-background {
  background: #d5b1da80;
}
.days.purple-background:hover {
  background: #441c64;
  color: white;
}

.purple-color {
  color: #441c64;
} */
/**yellow style*/
/* .days.yellow-background {
  background: #eee1a598;
}
.days.yellow-background:hover {
  background: #b6861f;
  color: white;
}

.yellow-color {
  color: #865413;
} */

/**Neutral*/
/* .days.neutral-background {
  background: #c9c9c969;
}
.days.neutral-background:hover {
  color: rgb(0, 0, 0);
}
.neutral-color {
  color: #000000;
} */

.day {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 26px;
  padding: 3px 4px;
  font-weight: 400;
  border: solid 1px transparent;
  font-size: 0.7rem;
  transition: 300ms ease-in-out;
}

.day:hover {
  border: solid 1px transparent;
  box-shadow: 2px 4px 4px rgba(24, 20, 58, 0.5);
  z-index: 1;
  cursor: pointer;
}

/* day_in--${mode}--custom  (test) */
/* .sund_highli--red--custom {
  color: yellow !important;
  background: green !important;
} */

/*day-in*/
.day_in--red {
  color: #9b2b2b;
}
.day_in--green {
  color: #164e22;
}
.day_in--purple {
  color: #441c64;
}
.day_in--yellow {
  color: #865413;
}
.day_in--blue {
  color: #2b489b;
}
.day_in--neutral {
  color: #000000;
}

/*day-in-hover*/
.day_in--red:hover,
.currentDay--red:hover {
  color: #9b2b2b;
  background-color: #dab1b170;
}
.day_in--green:hover,
.currentDay--green:hover {
  color: #164e22;
  background-color: #b1dab770;
}
.day_in--purple:hover,
.currentDay--purple:hover {
  color: #441c64;
  background-color: #d5b1da70;
}
.day_in--yellow:hover,
.currentDay--yellow:hover {
  color: #865413;
  background-color: #eee1a570;
}
.day_in--blue:hover,
.currentDay--blue:hover {
  color: #2b489b;
  background-color: #b1bbda70;
}
.day_in--neutral:hover,
.currentDay--neutral:hover {
  color: #000000;
  background-color: #c9c9c970;
}

.day_out {
  background: transparent !important;
  pointer-events: none;
  color: #ddd;
}
.day_out--red {
  color: #9b2b2b60;
}
.day_out--green {
  color: #164e2260;
}
.day_out--purple {
  color: #441c6460;
}
.day_out--yellow {
  color: #86541360;
}
.day_out--blue {
  color: #2b489b60;
}
.day_out--neutral {
  color: #00000060;
}

.currentDay--red {
  border: solid 1px #9b2b2b;
  color: #9b2b2b;
}
.currentDay--green {
  border: solid 1px #164e22;
  color: #164e22;
}
.currentDay--purple {
  border: solid 1px #441c64;
  color: #441c64;
}
.currentDay--yellow {
  border: solid 1px #865413;
  color: #865413;
}
.currentDay--blue {
  border: solid 1px #2b489b;
  color: #2b489b;
}
.currentDay--neutral {
  border: solid 1px #000000;
  color: #000000;
}

.day_selected--red {
  background-color: #9b2b2b;
  color: white;
}
.day_selected--green {
  background-color: #164e22;
  color: white;
}
.day_selected--purple {
  background-color: #441c64;
  color: white;
}
.day_selected--yellow {
  background-color: #865413;
  color: white;
}
.day_selected--blue {
  background-color: #2b489b;
  color: white;
}
.day_selected--neutral {
  background-color: #000000;
  color: white;
}

.sund_highli--red,
.sund_highli--purple,
.sund_highli--yellow,
.sund_highli--blue,
.sund_highli--neutral {
  color: rgb(22, 43, 22);
  background-color: rgba(88, 209, 138, 0.151);
}
.sund_highli--green {
  color: rgb(75, 45, 6);
  background-color: rgba(209, 147, 88, 0.151);
}
